<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div><span>name: </span>{{ hero.name }}</div>
  <div><span>username: </span>{{ hero.username }}</div>
  <div><span>email: </span>{{ hero.email }}</div>
  <div><span>phone: </span>{{ hero.phone }}</div>
  <div><span>website: </span>{{ hero.website }}</div>
  <h3>Adress:</h3>
  <div><span>street: </span>{{ hero.address.street }}</div>
  <div><span>suite: </span>{{ hero.address.suite }}</div>
  <div><span>city: </span>{{ hero.address.city }}</div>
  <div><span>zipcode: </span>{{ hero.address.zipcode }}</div>
</div>
