<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <!-- Utilisation d'une directive (https://angular.io/guide/attribute-directives) -->
  <div [appHighlight]="hero.bio.length > 0" [color]="'red'">
    <span>id: </span>{{ hero.id }}
  </div>
  <div [appHighlight]="true" [color]="'yellow'">
    <span>name: </span><input id="name" [(ngModel)]="hero.name" placeholder="name" />
  </div>

  <!-- Utilisation du pipe date -->
  <div><span>birthdate: </span>{{ hero.birthdate | date: "dd/MM/yyyy" }}</div>

  <!-- Bio -->
  <textarea
    [maxlength]="maxBioLength"
    id="bio"
    [(ngModel)]="hero.bio"
    placeholder="bio"></textarea>
  <div>
    <span>Nombre de caractères: {{ hero.bio.length }}/{{ maxBioLength }}</span>
  </div>
  <div *ngIf="hero.bio.length >= maxBioLength - 5" style="color: red">
    Attention, ça va trancher chérie!
  </div>
</div>
